### Handling Missing Values
1. Upsampling
2. Downsampling

In [1]:
import numpy as np
import pandas as pd

np.random.seed(123) ##Generates same random number every time i generate

n=1000
class_ratio=0.9
n0=int(n*class_ratio)
n1=n-n0
n0,n1

(900, 100)

## Now lets create dataset using this imabalnced data

In [ ]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n0), #loc means mean,scale means SD,size means number of datapoints
    'feature_2':np.random.normal(loc=0,scale=1,size=n0),
    'target':[0]*n0 ## 0 (NO dataset)
})
class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n1), #loc means mean,scale means SD,size means number of datapoints
    'feature_2':np.random.normal(loc=0,scale=1,size=n1),
    'target':[1]*n1 ##1 (Yes dataset in binary classfifcation)
})

In [12]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [13]:
df.tail()

     feature_1  feature_2  target
995   0.677156  -0.907952       1
996   0.963404  -1.818045       1
997  -0.378524  -0.122733       1
998   1.429559   1.794486       1
999   1.532273  -0.320510       1

In [14]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### Upsampling

In [16]:
# GEt minority and majority
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [ ]:
from sklearn.utils import resample
df_minority_updated=resample(
    df_minority,#for which you have to upsample
    replace=True, #Do you want to add / repeat the data or not
    n_samples=len(df_majority) ,#how many do you want
    random_state=12 #for random seed
)
df_minority_updated.shape ## now it is upsampled

(900, 3)

Now concat updated with the original

In [20]:
df_upsampled=pd.concat([df_majority,df_minority_updated])
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Downsampling

In [23]:
from sklearn.utils import resample

df_majority_downsampled=resample(
    df_majority,
    replace=False, #we want to remove so no duplicates needed
    n_samples=len(df_minority),
    random_state=22
)
df_majority_downsampled.shape

(100, 3)

In [26]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64

## Downsampling is not good practice because we are loosing data